<footer class="app-footer text-center">
  <div class="container">
    <ul class="footer-links">
      <li><a href="#">Copyright</a></li>
      <li class="muted">·</li>
      <li><a href="#">github</a></li>
    </ul>
  </div>
</footer>