<div class="app-header">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to "Demo Shrine", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-header">
        <ul class="navbar-nav ms-auto">
          <%= content_tag(:li, link_to("Posts", posts_path, class: "nav-link #{is_active?(posts_path)}"), class: "nav-item") %>
          <%= content_tag(:li, link_to("Albums", albums_path, class: "nav-link #{is_active?(albums_path)}"), class: "nav-item") %>
        </ul>
      </div>
    </div>
  </nav>
</div>